.banner {width:100%; }
.header {font-family: 'Amatic SC', cursive; font-size: 3em; margin: 5px 0}
.listhead {font-family: 'Amatic SC', cursive; font-size: 2em; margin: 5px 0}
.main {font-family: 'Josefin Sans', sans-serif;}
li {font-family: 'Josefin Sans', sans-serif;}
